@inherits LayoutComponentBase

<PageTitle>SchemaPal</PageTitle>

<div class="top-strip">
    <img src="images/logo.png" alt="Logo" class="logo" />
    <div class="app-name">SchemaPal</div>
</div>

<div class="main-content">
    @Body
</div>

<footer class="footer">
    <p>Izradila: Josipa Šimić</p>
    <p>PMF Zagreb, Matematički odsjek</p>
</footer>
