.user-section {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 15px;
    align-items: end;
    margin: 20px;
    margin-top: 10px;
}

.user-section-btn {
    text-decoration: underline;
    color: white;
    margin-top: 10px;
}

.user-section-btn:hover {
    cursor: pointer;
    color: rgb(0, 0, 0, 0.7);
}
