@using SchemaPal.Enums
@using SchemaPal.Helpers
@using SchemaPal.Services.HelperServices
@using SchemaPal.Services.UserServices

@inject NavigationManager _navigationManager
@inject IUserSessionService _userSessionService
@inject IComponentActionsStorage _componentActionsStorage

<div>
    <div class="user-section">
        <span style="display: @UsernameDisplay">Koristite aplikaciju kao: <strong>@UsernameText</strong></span>
        <a class="user-section-btn" @onclick="HandleButtonClick">@(ButtonMode == ButtonMode.Login ? "Prijava" : "Odjava")</a>
    </div>
</div>

@code {
    private ButtonMode ButtonMode;
    private string UsernameText = string.Empty;

    private string UsernameDisplay = "block";

    protected override async Task OnInitializedAsync()
    {
        await SetData();

        // Omogući ažuriranje komponente iz drugih stranica (konkretno, ovo pozivamo s Login i LoginRedirect stranica,
        // kad se korisnik uspješno prijavi ili nastavi kao gost, kako bi se podaci o korisniku ažurirali).
        _componentActionsStorage.OnUserSessionTypeChange += RefreshState;
    }

    private async Task RefreshState()
    {
        await SetData();

        await InvokeAsync(StateHasChanged);
    }

    private async Task SetData()
    {
        UsernameDisplay = "block";
        ButtonMode = ButtonMode.Login;

        var isUserGuest = await _userSessionService.IsUserGuest();
        if (isUserGuest)
        {
            UsernameText = "gost";
            return;
        }

        var isUserLoggedIn = await _userSessionService.IsUserLoggedIn();
        if (isUserLoggedIn)
        {
            var loggedInUsername = await _userSessionService.GetLoggedInUsername();
            UsernameText = loggedInUsername;
            ButtonMode = ButtonMode.Logout;

            return;
        }

        // Sakrij korisničko ime ako korisnik nije ni gost ni prijavljen (prvi pristup aplikaciji ili istekla sesija).
        UsernameDisplay = "none";
    }

    private async Task HandleButtonClick()
    {
        if (ButtonMode == ButtonMode.Logout)
        {
            await _userSessionService.EndUserSession();
        }

        _navigationManager.NavigateTo("/login-redirect");
    }
}
