<div class="zoom-controls">
    <button class="btn" title="Uvećaj" @onclick="OnZoomInClick">
        <img src="images/zoomIn.png" />
    </button>
    <button class="btn" title="Umanji" @onclick="OnZoomOutClick">
        <img src="images/zoomOut.png" />
    </button>
</div>

@code {
    [Parameter] public EventCallback OnZoomIn { get; set; }
    [Parameter] public EventCallback OnZoomOut { get; set; }

    private async Task OnZoomInClick()
    {
        await OnZoomIn.InvokeAsync();
    }

    private async Task OnZoomOutClick()
    {
        await OnZoomOut.InvokeAsync();
    }
}