.multiselect-dropdown {
    position: relative;
    display: inline-block;
    width: 60%;
}

    .multiselect-dropdown:hover .dropdown-content {
        display: block;
    }

.width-color-override {
    width: 100%;
    background-color: white;
    height: fit-content;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
}

    .dropdown-content label {
        display: block;
        padding: 5px;
    }

.gray-font-color {
    color: black;
    opacity: 0.8;
}
