@using System.IO
@using System.Text.Json
@using Microsoft.AspNetCore.Components.Forms
@using SchemaPal.Services.SchemaMakerServices

@inject NavigationManager _navigationManager
@inject ISchemaInjectionService _schemaInjectionService

<h3 class="import-font">Uvezi shemu iz <i>SchemaPal</i> JSON datoteke:</h3>
<InputFile OnChange="OnInputFileChange" accept=".json" />
<p class="message">@Message</p>

@code {
    private string Message = string.Empty;

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        var file = e.GetMultipleFiles(maximumFileCount: 1).FirstOrDefault();

        if (file is null)
        {
            Message = "Nije odabrana valjana datoteka. Pokušajte ponovno.";
            return;
        }

        using var stream = file.OpenReadStream();
        using var reader = new StreamReader(stream);
        var jsonData = await reader.ReadToEndAsync();

        ImportSchemaPalJson(jsonData);
    }

    private void ImportSchemaPalJson(string jsonData)
    {
        var result = _schemaInjectionService.PushSchemaFromJsonImport(jsonData);

        if (result.IsFailed)
        {
            var errorMessage = result.Errors.First().Message;
            Message = errorMessage;

            return;
        }

        _navigationManager.NavigateTo("/schema-maker");
    }
}
