<div class="import-options">
    @* <button @onclick="ImportDDL">Uvezi iz DDL datoteke.</button> *@ <!-- Vjerojatno neću stići implementirati. -->
    <button @onclick="ImportSchemaPalJson">Uvezi iz JSON datoteke.</button>
</div>

@code {
    // private void ImportDDL()
    // {
    // }

    private void ImportSchemaPalJson()
    {
    }
}
