.import-font {
    font-size: 17px;
    margin-bottom: 20px;
    margin-left: -10%;
    font-weight: bold;
}

.message {
    font-size: 15px;
    color: rgb(0, 0, 0, 0.8);
    margin-top: 20px;
    margin-left: -10%;
}
