@using System.Net
@using SchemaPal.DataTransferObjects.API
@using SchemaPal.Services
@using SchemaPal.Services.SchemaMakerServices
@using TimeZoneConverter

@inject NavigationManager _navigationManager
@inject ISchemaPalApiService _schemaPalApiService
@inject IUserSessionService _userSessionService
@inject IResultProcessor _resultProcessor
@inject ISchemaInjectionService _schemaInjectionService

<p class="message">@Message</p>
<div class="my-schemas">
    @foreach (var schema in this.UserSchemas)
    {
        <div class="schema-item">
            <div class="schema-name" @onclick="() => OpenUserSchema(schema.Id)">
                <h4><strong>@schema.Name</strong></h4>
                <p>@FormatLastSavedInfo(schema.LastSaved)</p>
            </div>
            <button class="btn large-bold-font" title="Obriši shemu" @onclick="() => DeleteSchema(schema.Id)">&#128465</button>
        </div>
    }
</div>

@code {
    private List<ShortSchemaRecord> UserSchemas = new List<ShortSchemaRecord>();

    private string Message;

    protected override async Task OnInitializedAsync()
    {
        await SetData();
    }

    private async Task SetData()
    {
        var result = await _schemaPalApiService.GetDatabaseSchemasForLoggedInUser();

        if (result.IsSuccess)
        {
            UserSchemas = result.Value ?? [];

            if (!UserSchemas.Any())
            {
                Message = "Nije spremljena nijedna shema.";
                return;
            }

            UserSchemas = UserSchemas
                .OrderByDescending(schema => schema.LastSaved)
                .ToList();

            Message = string.Empty;
            return;
        }

        Message = await _resultProcessor.ProcessFailedResult(result);
        UserSchemas = [];
    }

    private string FormatLastSavedInfo(DateTime lastSavedUtc)
    {
        var croatianTimeZone = TZConvert.GetTimeZoneInfo("Europe/Zagreb");
        var croatianTime = TimeZoneInfo.ConvertTimeFromUtc(lastSavedUtc, croatianTimeZone);

        return $"Zadnje ažurirano: {croatianTime.ToString("dd.MM.yyyy. HH:mm")}h";
    }

    private async Task OpenUserSchema(Guid schemaId)
    {
        var result = await _schemaInjectionService.PushSchemaFromAPI(schemaId);

        if (result.IsFailed)
        {
            Message = result.Errors.First().Message;
            return;
        }

        _navigationManager.NavigateTo("/schema-maker");
    }

    private async Task DeleteSchema(Guid schemaId)
    {
        var result = await _schemaPalApiService.DeleteDatabaseSchema(schemaId);

        if (result.IsFailed)
        {
            Message = result.Errors.First().Message;
            return;
        }

        await SetData();
        Message = "Shema je uspješno obrisana.";
    }
}
