@inject NavigationManager Navigation
@using SchemaPal.DataTransferObjects

<div class="template-grid">
    @foreach (var template in templates)
    {
        <div class="template-item" @onclick="() => OpenTemplateSchema(template)">
            <h4>@template.Name</h4>
        </div>
    }
</div>

@code {
    private List<DatabaseSchema> templates = new List<DatabaseSchema>
    {
        new DatabaseSchema { Name = "Glazbena platforma", Id = 1 },
        new DatabaseSchema { Name = "Lanac dućana", Id = 2 },
        new DatabaseSchema { Name = "Taksi usluge", Id = 3 },
    };

    private void OpenTemplateSchema(DatabaseSchema template)
    {
        Navigation.NavigateTo("/schema-maker?template=" + template.Name);
    }
}
