.template-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 20px;
}

.template-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: rgb(251, 237, 237, 1);
}

    .template-item:hover {
        background-color: #f0f0f0;
    }

    .template-item img {
        height: 160px;
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 5px 5px;
    }