@page "/"

@using SchemaPal.Enums
@using SchemaPal.PageComponents.HomePageComponents
@using SchemaPal.Services

@inject NavigationManager _navigationManager
@inject IUserSessionService _userSessionService

<PageTitle>SchemaPal</PageTitle>

<div class="home-grid">
    <div class="sidebar">
        <h3>Glavni izbornik</h3>
        <ul class="nav-buttons">
            <li class="@(currentView == HomePageViewType.NewSchema ? "selected" : string.Empty)" @onclick="ShowNewSchema">Izradi novu shemu</li>
            <li class="@(currentView == HomePageViewType.TemplateSchemas ? "selected" : string.Empty)" @onclick="ShowTemplateSchemas">Izradi shemu iz predloška</li>
            @if (isLoggedInUser)
            {
                <li class="@(currentView == HomePageViewType.MySchemas ? "selected" : string.Empty)" @onclick="ShowMySchemas">Moje sheme</li>
            }
            <li class="@(currentView == HomePageViewType.ImportSchema ? "selected" : string.Empty)" @onclick="ShowImportSchema">Uvezi shemu</li>
        </ul>
    </div>
    <div class="main-content">
        @if (currentView == HomePageViewType.NewSchema)
        {
            <button @onclick="OpenSchemaMakerCanvas">+</button>
            <h3>Izradi novu shemu</h3>
        }
        else if (currentView == HomePageViewType.TemplateSchemas)
        {
            <TemplateSchemas />
        }
        else if (currentView == HomePageViewType.MySchemas)
        {
            <MySchemas />
        }
        else if (currentView == HomePageViewType.ImportSchema)
        {
            <ImportSchema />
        }
    </div>
</div>

@code {
    private HomePageViewType currentView = HomePageViewType.NewSchema;
    private bool isGuest = false;
    private bool isLoggedInUser = false;

    protected override async Task OnInitializedAsync()
    {
        isGuest = await _userSessionService.IsUserGuest();
        isLoggedInUser = await _userSessionService.IsUserLoggedIn();

        if (!isGuest 
            && !isLoggedInUser)
        {
            _navigationManager.NavigateTo("/login-redirect");
        }
    }

    private void ShowNewSchema() => currentView = HomePageViewType.NewSchema;
    private void ShowTemplateSchemas() => currentView = HomePageViewType.TemplateSchemas;
    private void ShowMySchemas() => currentView = HomePageViewType.MySchemas;
    private void ShowImportSchema() => currentView = HomePageViewType.ImportSchema;

    private void OpenSchemaMakerCanvas()
    {
        _navigationManager.NavigateTo("/schema-maker");
    }
}
