.home-grid {
    display: flex;
    width: 80%;
    height: 550px; 
    border-radius: 10px;
    color: rgb(133, 6, 6, 0.7);
    background-color: rgb(164, 12, 12, 0.07);
}

    .home-grid .sidebar {
        width: 30%; 
        padding: 30px;
        color: rgb(133, 6, 6, 0.7);
        border-right: 1px dashed;
        border-right-color: rgb(133, 6, 6, 0.7);
    }

        .home-grid .sidebar .nav-buttons {
            list-style-type: none; 
            padding: 0;
            margin-top: 20px;
            margin-bottom: 20px;
        }

            .home-grid .sidebar .nav-buttons .selected {
                background-color: rgb(133, 6, 6, 0.5);
                color: white;
            }

        .home-grid .sidebar .nav-buttons li {
            background-color: #f0f0f0;
            border: 1px solid #ccc; 
            border-radius: 5px; 
            padding: 10px 20px; 
            margin-bottom: 10px; 
            cursor: pointer; 
            text-align: center; 
            font-size: 16px; 
            transition: background-color 0.3s ease; 
        }

            .home-grid .sidebar .nav-buttons li:hover {
                background-color: #d6d6d6; 
                border-color: #aaa; 
            }

            .home-grid .sidebar .nav-buttons li:active {
                background-color: #ccc;
                border-color: #888;
            }


    .home-grid .main-content {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: rgb(133, 6, 6, 0.7);
    }

    .home-grid button {
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 5px; 
        padding: 20px 20px; 
        margin-bottom: 10px; 
        cursor: pointer; 
        text-align: center;
        font-size: 70px; 
        width: 25%;
        height: 35%;
        color: rgb(133, 6, 6, 0.4);
        transition: background-color 0.3s ease;
    }

        .home-grid button:hover{
            background-color: #d6d6d6; 
            border-color: #aaa;
        }

        .home-grid button:active {
            background-color: #ccc;
            border-color: #888;
        }
