/* Centering the buttons */
.auth-options {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100%; /* Take full height of the parent */
    background: inherit;
}

    /* Button styling */
    .auth-options button {
        margin: 10px;
        padding: 10px 20px;
        font-size: 1.2rem;
        width: 200px; /* Optional: set a fixed width for buttons */
    }

    .auth-options .btn-primary {
        background-color: rgb(133, 6, 6, 0.7); /* Indigo for the login button */
        border-color: rgb(133, 6, 6, 0.7);
    }

    .auth-options .btn-secondary {
        background-color: rgb(172, 54, 33, 0.3); /* Light purple for sign up */
        border-color: rgb(172, 54, 33, 0.3);
    }

    .auth-options .btn-outline-dark {
        color: #333;
        border-color: #333;
        background-color: transparent;
    }
