@page "/login-redirect"

@using SchemaPal.Helpers

@inject NavigationManager _navigationManager
@inject Blazored.SessionStorage.ISessionStorageService _sessionStorage

<div class="main-content">
    <div class="auth-options">
        <button class="btn-primary" @onclick="Login">Prijavi se</button>
        <button class="btn-secondary" @onclick="SignUp">Registriraj se</button>
        <button class="btn-outline-dark" @onclick="ContinueAsGuest">Nastavi kao gost</button>
    </div>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        var isLoggedIn = await _sessionStorage.GetItemAsync<bool>("isLoggedIn");
        if (isLoggedIn)
        {
            _navigationManager.NavigateTo("/");
        };
    }

    private void Login()
    {
        _navigationManager.NavigateTo("/login"); 
    }

    private void SignUp()
    {
        _navigationManager.NavigateTo("/signup"); 
    }

    private async void ContinueAsGuest()
    {
        await _sessionStorage.SetItemAsync<bool>("isGuest", true);
        await _sessionStorage.SetItemAsync<bool>("isLoggedIn", false);

        await UserSectionComponentHelper.NotifyUserStatusChange();

        _navigationManager.NavigateTo("/"); 
    }
}
