@page "/login-redirect"

@using SchemaPal.Helpers
@using SchemaPal.Services

@inject NavigationManager _navigationManager
@inject IUserSessionService _userSessionService

<div class="main-content">
    <div class="auth-options">
        <button class="btn-primary" @onclick="Login">Prijavi se</button>
        <button class="btn-secondary" @onclick="SignUp">Registriraj se</button>
        <button class="btn-outline-dark" @onclick="ContinueAsGuest">Nastavi kao gost</button>
    </div>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        var isLoggedIn = await _userSessionService.IsUserLoggedIn();
        if (isLoggedIn)
        {
            _navigationManager.NavigateTo("/");
        };
    }

    private void Login()
    {
        _navigationManager.NavigateTo("/login"); 
    }

    private void SignUp()
    {
        _navigationManager.NavigateTo("/signup"); 
    }

    private async void ContinueAsGuest()
    {
        await _userSessionService.StartGuestUserSession();

        await UserSectionComponentHelper.NotifyUserStatusChange();

        _navigationManager.NavigateTo("/"); 
    }
}
