.layout-grid {
    display: flex;
    width: 100%;
    height: 100vh;
}

    .layout-grid .sidebar {
        width: 20%;
        height: 100%;
        background-color: #f4f4f4;
        padding: 10px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 2px;
        margin-right: 0;
        overflow: auto;
    }

    .layout-grid button.btn {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        background-color: rgb(133, 6, 6, 0.5);
        color: white;
        border-radius: 5px;
        transition: background-color 0.3s;
        position: sticky;
        margin-left: 5px;
    }

        .layout-grid button.btn:hover {
            background-color: rgb(133, 6, 6, 0.7);
        }

    .layout-grid button.large-bold-font {
        font-size: 22px;
        font-weight: bold;
        padding-top: 0;
        padding-bottom: 0;
    }

    .layout-grid button.expand {
        font-size: 17px;
        font-weight: bold;
        padding-left: 9px;
        padding-right: 9px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .layout-grid button.save {
        width: 70%;
    }

    .layout-grid .canvas-container {
        flex-grow: 1;
        position: relative;
        overflow: auto;
        background-color: #fff;
        border: 1px solid black;
        margin: 2px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        width: 80%;
        height: 100%;
    }

        .layout-grid .canvas-container .canvas-content {
            width: 2000px;
            height: 2000px;
            background-color: #fafafa;
            border: 2px dashed #ccc;
            border-radius: 8px;
            transform-origin: 0 0;
            transition: transform 0.2s ease-in-out;
            position: absolute;
            left: 0;
            top: 0;
        }

            .layout-grid .canvas-container .canvas-content .table-wrapper {
                position: absolute;
                z-index: 100000000000000;
                opacity: 1;
            }

                .layout-grid .canvas-container .canvas-content .table-wrapper .connection-border {
                    position: absolute;
                    top: -5px; 
                    left: -5px; 
                    width: calc(100% + 10px); 
                    height: calc(100%); 
                    border: 2px dashed transparent;
                    pointer-events: none;
                }

                    .layout-grid .canvas-container .canvas-content .table-wrapper .connection-border .connection-point {
                        border-radius: 50%;
                        position: absolute;
                        width: 15px;
                        height: 15px;
                        cursor: crosshair;
                        pointer-events: all;
                        z-index: 100000000000000;
                        opacity: 1;
                    }

            .layout-grid .canvas-container .canvas-content .connection-lines {
                width: 2000px;
                height: 2000px;
                color: black;
                position: absolute;
                top: 0;
                left: 0;
            }

                .layout-grid .canvas-container .canvas-content .connection-lines .relationship-type {
                    fill: rgb(133, 6, 6, 0.7);
                    font-weight: bold;
                    font-size: 17px;
                    position: relative;
                    z-index: 1000000000000000000;
                }

            .layout-grid .canvas-container .canvas-content svg path {
                stroke: rgb(133, 6, 6, 0.7);
                stroke-width: 2px;
                pointer-events: none;
                fill: none;
            }

                .layout-grid .canvas-container .canvas-content .table-wrapper .table {
                    background-color: lightgray;
                    border: 1px solid #bbb;
                    border-radius: 5px;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                    cursor: grab;
                    transition: box-shadow 0.2s;
                }

                    .layout-grid .canvas-container .canvas-content .table-wrapper .table:active {
                        cursor: grabbing;
                        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
                    }

                    .layout-grid .canvas-container .canvas-content .table-wrapper .column {
                        background-color: #ffffff;
                        border: 1px solid #ccc;
                        border-radius: 3px;
                    }

                    .layout-grid .canvas-container .canvas-content .table-wrapper .index {
                        border: 1px solid #ccc;
                        border-radius: 3px;
                        font-size: 15px;
                        margin-top: 10px;
                        font-style: italic;
                        font-weight: bold;
                    }

        .layout-grid .canvas-container .zoom-controls {
            position: sticky; 
            top: 10px; 
            left: 10px; 
            padding: 5px;
            border-radius: 5px;
            z-index: 100000000;
        }

            .layout-grid .canvas-container .zoom-controls button {
                margin: 2px; 
            }

.expandable-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    font-weight: bold;
    color: #333;
}

.expandable-row span {
    flex-grow: 1;
}

.expanded-section {
    padding-left: 15px;
    background-color: #f1f1f1;
    margin-bottom: 10px;
}

.table-row, .relationship-row, .column-row {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 5px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

    .table-row input, .column-row input {
        width: 60%;
        padding: 5px;
        font-size: 14px;
        margin-right: 10px;
    }

    .column-row select {
        width: 100px;
        margin-right: 10px;
    }

    .column-row input[type="checkbox"] {
        margin-left: 5px;
    }

.expanded-table-details, .expanded-column-details {
    padding-left: 10px;
    margin-top: 5px;
    border-left: 2px solid #007bff;
}

.expanded-column-details {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 4px;
}